.line {
    stroke: red;
    stroke-width: 5px;
    transform: translate(100px, 100px);
}

.line:nth-child(1) {
    animation: draw-left 0.5s linear 0s forwards;
}

.line:nth-child(2) {
    animation: draw-right 0.5s linear 0.5s forwards;
}

@keyframes draw-left {
    0% {
        transform: translate(-100px, -100px);
    }

    100% {
        transform: translate(0, 0)
    }
}

@keyframes draw-right {
    0% {
        transform: translate(100px, -100px);
    }

    100% {
        transform: translate(0, 0)
    }
}